[Unit]
Description=ForeFlight Logbook Dashboard Service
After=network.target

[Service]
Type=simple
User=jkh
Group=jkh
WorkingDirectory=/home/jkh/Src/foreflight-dashboard
Environment="PATH=/home/jkh/Src/foreflight-dashboard/venv/bin"
Environment="PYTHONPATH=/home/jkh/Src/foreflight-dashboard"
ExecStart=/home/jkh/Src/foreflight-dashboard/venv/bin/python src/app.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target 
